

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }
  
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }